{% extends 'layouts/base.html' %}

{% block content %}
<h1>about</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate perspiciatis omnis nihil a non tempora, enim nam reiciendis sapiente debitis perferendis consequatur saepe itaque quae optio. Temporibus laborum nesciunt iure quia odit ullam dolore aspernatur, magni quasi ab pariatur sed modi sit delectus repudiandae fuga sequi aliquam nostrum. Aspernatur adipisci ex magni voluptas aperiam repudiandae atque? Tempora pariatur dignissimos rem inventore recusandae tempore dolore placeat maiores odit quibusdam fugiat assumenda a nemo doloremque accusantium temporibus corrupti, laudantium quis porro officia facilis vero! Eum nobis officia consequatur facilis harum at eligendi explicabo vero non, ipsa quas, alias a, numquam sit eveniet.</p>

<p>Website created by {{username}}</p>
{% endblock %}